@page "/meeting"

@using RaceMeetingManagerUIBlazor.Data
@using RaceMeetingManagerDTOLayer
@inject MeetingService meetingService

<h1>Meeting</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (meetings == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<DataGrid TItem="MeetingDTO" Data="@meetings">
		<DataGridCommandColumn TItem="MeetingDTO" />
		<DataGridNumericColumn TItem="MeetingDTO" Field="@nameof(MeetingDTO.MeetCode)" Caption="Id" />
		<DataGridColumn TItem="MeetingDTO" Field="@nameof(MeetingDTO.Title)" Caption="Title" AllowEdit="true" />
		<DataGridColumn TItem="MeetingDTO" Field="@nameof(MeetingDTO.StateDesc)" Caption="State" AllowEdit="true" />
		<DataGridDateColumn TItem="MeetingDTO" Field="@nameof(MeetingDTO.MeetDate)" Caption="MeetDate" AllowEdit="true" />
		<DataGridColumn TItem="MeetingDTO" Field="@nameof(MeetingDTO.VenueDesc)" Caption="Venue" AllowEdit="true" />
	</DataGrid>
}

@code {
	MeetingDTO[] meetings;

	protected override async Task OnInitializedAsync()
	{
		meetings = await meetingService.GetMeetingAsync();
	}
}
